doctype html
html
	meta(charset="UTF-8")
	meta(name="viewport" content="width=device-width, initial-scale=1")
	title Document
	link(rel="stylesheet" href="./default.css")
body
	h1 Hello world!
	script(src="./main.js")
